.DS_Store

## Build generated
build/
DerivedData/

Example/Demo1-not library/Pods/
Example/Demo2-CreditCardFormLibarary/Pods/

CreditCardFormTests/
CreditCardForm.xcodeproj/project.xcworkspace/xcuserdata/atakishiyev.xcuserdatad/UserInterfaceState.xcuserstate
